docs/workflow-development/projects/system-test-workflow/workflow-templates/Midjourney Image Generator via Telegram and GoAPI (1).json
{
	"name": "Midjourney Image Generator via Telegram and YeScale API",
	"nodes": [
		{
			"parameters": {
				"updates": ["message"],
				"additionalFields": {},
				"mode": "polling"
			},
			"id": "24695c33-e016-4df2-b31c-259c4dba4efe",
			"name": "Telegram Trigger (Polling)",
			"type": "n8n-nodes-base.telegramTrigger",
			"position": [368, 240],
			"typeVersion": 1.2,
			"credentials": {
				"telegramApi": {
					"id": "TfIpbC2th8Bv7ROZ",
					"name": "Telegram account"
				}
			}
		},
		{
			"parameters": {
				"assignments": {
					"assignments": [
						{
							"id": "7a7bba3d-2761-44a9-97a1-c7ed9f849cfb",
							"name": "chatInput",
							"type": "string",
							"value": "={{ $json.message.text }}"
						},
						{
							"id": "2d103541-f87c-4780-acf1-43f0fb7a488a",
							"name": "sessionId",
							"type": "string",
							"value": "={{ $json.message.from.username }}"
						}
					]
				},
				"options": {}
			},
			"id": "bc21ef50-c305-4f27-895d-019ecc5ec3f7",
			"name": "Task",
			"type": "n8n-nodes-base.set",
			"position": [816, 240],
			"typeVersion": 3.4
		},
		{
			"parameters": {},
			"id": "3ade84ce-e582-445b-b9aa-42b85d763d8a",
			"name": "Wait",
			"type": "n8n-nodes-base.wait",
			"position": [1920, 352],
			"typeVersion": 1.1
		},
		{
			"parameters": {
				"method": "POST",
				"url": "https://api.yescale.io/mj/submit/imagine",
				"sendHeaders": true,
				"headerParameters": {
					"parameters": [
						{
							"name": "Content-Type",
							"value": "application/json"
						},
						{
							"name": "Authorization",
							"value": "Bearer sk-8u2OaO2djHu5tJRaNlUQlDTWXBHjcuIqWfGDEKCCOjmBu7Ik"
						}
					]
				},
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={\n  \"botType\": \"MID_JOURNEY\",\n  \"prompt\": \"{{ $json.chatInput }} --ar 12:16 --v 6\",\n  \"base64Array\": [],\n  \"notifyHook\": \"\",\n  \"state\": \"\"\n}",
				"options": {}
			},
			"id": "309a8c7e-74e8-4e0b-9022-be9b524261d7",
			"name": "Generate Image",
			"type": "n8n-nodes-base.httpRequest",
			"position": [1040, 240],
			"typeVersion": 4.2
		},
		{
			"parameters": {
				"method": "POST",
				"url": "https://api.yescale.io/mj/submit/change",
				"sendHeaders": true,
				"headerParameters": {
					"parameters": [
						{
							"name": "Content-Type",
							"value": "application/json"
						},
						{
							"name": "Authorization",
							"value": "Bearer sk-8u2OaO2djHu5tJRaNlUQlDTWXBHjcuIqWfGDEKCCOjmBu7Ik"
						}
					]
				},
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={\n  \"botType\": \"MID_JOURNEY\",\n  \"action\": \"UPSCALE\",\n  \"index\": {{ $json.data[\"Image Index\"] }},\n  \"taskId\": \"{{ $('Generate Image').item.json.result }}\",\n  \"notifyHook\": \"\",\n  \"state\": \"\"\n}",
				"options": {}
			},
			"id": "dbbc2387-0d6e-4ef5-b777-b6a5d95db5ee",
			"name": "Upscale",
			"type": "n8n-nodes-base.httpRequest",
			"position": [2128, 128],
			"typeVersion": 4.2
		},
		{
			"parameters": {
				"conditions": {
					"options": {
						"version": 2,
						"leftValue": "",
						"caseSensitive": true,
						"typeValidation": "strict"
					},
					"combinator": "and",
					"conditions": [
						{
							"id": "48d40457-1a52-4a14-b02b-a87254996224",
							"operator": {
								"name": "filter.operator.equals",
								"type": "string",
								"operation": "equals"
							},
							"leftValue": "={{ $json.data.status }}",
							"rightValue": "completed"
						}
					]
				},
				"options": {}
			},
			"id": "f48fbeff-71fd-45ca-abec-7decbab1e524",
			"name": "Get Upscale",
			"type": "n8n-nodes-base.if",
			"position": [2800, -32],
			"typeVersion": 2.2
		},
		{
			"parameters": {
				"chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
				"text": "=🖼 Generating Image ...",
				"additionalFields": {
					"appendAttribution": false
				}
			},
			"id": "84c2c579-39ed-4940-9ded-9b9056a12767",
			"name": "Notify Generation",
			"type": "n8n-nodes-base.telegram",
			"position": [1248, 240],
			"typeVersion": 1.2,
			"credentials": {
				"telegramApi": {
					"id": "TfIpbC2th8Bv7ROZ",
					"name": "Telegram account"
				}
			}
		},
		{
			"parameters": {
				"chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
				"text": "=↗ Upscaling Image ...",
				"additionalFields": {
					"appendAttribution": false
				}
			},
			"id": "42506f9c-b2af-425d-8a5b-7f0fb8046d1c",
			"name": "Notify Upscaling",
			"type": "n8n-nodes-base.telegram",
			"position": [2352, 128],
			"typeVersion": 1.2,
			"credentials": {
				"telegramApi": {
					"id": "TfIpbC2th8Bv7ROZ",
					"name": "Telegram account"
				}
			}
		},
		{
			"parameters": {},
			"id": "dac78f7a-02d6-4592-ae2a-ca6b6c01e9e4",
			"name": "Wait1",
			"type": "n8n-nodes-base.wait",
			"position": [3008, 224],
			"typeVersion": 1.1
		},
		{
			"parameters": {
				"conditions": {
					"options": {
						"version": 2,
						"leftValue": "",
						"caseSensitive": true,
						"typeValidation": "strict"
					},
					"combinator": "and",
					"conditions": [
						{
							"id": "48d40457-1a52-4a14-b02b-a87254996224",
							"operator": {
								"name": "filter.operator.equals",
								"type": "string",
								"operation": "equals"
							},
							"leftValue": "={{ $json.data.status }}",
							"rightValue": "completed"
						}
					]
				},
				"options": {}
			},
			"id": "15c49101-d579-44ae-baed-3d01522a1d96",
			"name": "Status = complete",
			"type": "n8n-nodes-base.if",
			"position": [1696, 176],
			"typeVersion": 2.2
		},
		{
			"parameters": {
				"operation": "sendAndWait",
				"chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
				"message": "={{ $json.data.output.image_url }}",
				"responseType": "customForm",
				"formFields": {
					"values": [
						{
							"fieldLabel": "Image Index",
							"fieldType": "number"
						}
					]
				},
				"options": {
					"messageButtonLabel": "Select Image to Upscale",
					"appendAttribution": false
				}
			},
			"id": "c22de90c-3d63-47c9-a2f1-3363d261ba1f",
			"name": "Get Index to Upscale",
			"type": "n8n-nodes-base.telegram",
			"position": [1920, 128],
			"typeVersion": 1.2,
			"credentials": {
				"telegramApi": {
					"id": "TfIpbC2th8Bv7ROZ",
					"name": "Telegram account"
				}
			}
		},
		{
			"parameters": {
				"resource": "message",
				"guildId": {
					"__rl": true,
					"mode": "list",
					"value": "697416344865472593",
					"cachedResultUrl": "https://discord.com/channels/697416344865472593",
					"cachedResultName": "server"
				},
				"channelId": {
					"__rl": true,
					"mode": "list",
					"value": "1385916790785314836",
					"cachedResultUrl": "https://discord.com/channels/697416344865472593/1385916790785314836",
					"cachedResultName": "goapi-mj-image-log"
				},
				"content": "=### All Render Image\n\n{{ $('Get Generation Task').item.json.data.output.image_url }}\n\n### Individual Render Image\n\n{{ $('Get Generation Task').item.json.data.output.temporary_image_urls.join('\\n\\n') }}\n\n### Final Upscaled Image\n\n{{ $json.data.output.image_url }}\n",
				"options": {
					"flags": ["SUPPRESS_EMBEDS", "SUPPRESS_NOTIFICATIONS"]
				}
			},
			"id": "a02dac7e-365f-46f6-bc2e-8b4a9c3e8376",
			"name": "Discord - Generation Log",
			"type": "n8n-nodes-base.discord",
			"position": [3008, -192],
			"typeVersion": 2,
			"credentials": {
				"discordBotApi": {
					"id": "GpiXC0pqDiaWvlX2",
					"name": "Discord Bot account"
				}
			}
		},
		{
			"parameters": {
				"chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
				"text": "={{ $json.data.output.image_url }}",
				"additionalFields": {
					"appendAttribution": false
				}
			},
			"id": "5a91e49a-449c-453a-a3b5-a7a74f7eeaae",
			"name": "Main Log",
			"type": "n8n-nodes-base.telegram",
			"position": [3008, 16],
			"typeVersion": 1.2,
			"credentials": {
				"telegramApi": {
					"id": "TfIpbC2th8Bv7ROZ",
					"name": "Telegram account"
				}
			}
		},
		{
			"parameters": {
				"conditions": {
					"options": {
						"version": 2,
						"leftValue": "",
						"caseSensitive": true,
						"typeValidation": "strict"
					},
					"combinator": "and",
					"conditions": [
						{
							"id": "9e365352-039b-451f-940d-d87ed138e432",
							"operator": {
								"name": "filter.operator.equals",
								"type": "string",
								"operation": "equals"
							},
							"leftValue": "={{ $json.message.from.username }}",
							"rightValue": "username"
						},
						{
							"id": "40df18a4-0f52-481c-8885-094d1f793b05",
							"operator": {
								"type": "string",
								"operation": "notEquals"
							},
							"leftValue": "={{ $json.message.text }}",
							"rightValue": "/start"
						}
					]
				},
				"options": {}
			},
			"id": "3c144117-29a9-4ee9-9b55-a94daf6c7a98",
			"name": "Get Prompt",
			"type": "n8n-nodes-base.if",
			"position": [592, 240],
			"typeVersion": 2.2
		},
		{
			"parameters": {
				"content": "## Setup Instructions - YeScale API + Polling Mode\n- Create a Telegram Bot and get the [Token](https://help.zoho.com/portal/en/kb/desk/support-channels/instant-messaging/telegram/articles/telegram-integration-with-zoho-desk#How_to_find_a_token_for_an_existing_Telegram_Bot).\n- Create a Telegram Connection and Update the Credentials in all Telegram Nodes.\n- Get [YeScale API Key](https://api.yescale.io) and Update Bearer Token in HTTP Nodes:\n  - `Generate Image` (/mj/submit/imagine)\n  - `Get Generation Task` (/mj/task/{id})\n  - `Upscale` (/mj/submit/change)\n  - `Get Upscale Task` (/mj/task/{id})\n- **Converted from GoAPI to YeScale API**\n- **Perfect for Local/Self-hosted**: Uses Telegram Polling (no webhook/HTTPS required)\n- **No External Tunnel Needed**: Works directly on localhost HTTP",
				"height": 240,
				"width": 420
			},
			"id": "c80a05ba-51ce-44b7-9c28-3ea20ea96fa0",
			"name": "Sticky Note",
			"type": "n8n-nodes-base.stickyNote",
			"position": [400, -112],
			"typeVersion": 1
		},
		{
			"parameters": {
				"url": "=https://api.yescale.io/mj/task/{{ $('Generate Image').item.json.result }}",
				"sendHeaders": true,
				"headerParameters": {
					"parameters": [
						{
							"name": "Content-Type",
							"value": "application/json"
						},
						{
							"name": "Authorization",
							"value": "Bearer sk-8u2OaO2djHu5tJRaNlUQlDTWXBHjcuIqWfGDEKCCOjmBu7Ik"
						}
					]
				},
				"options": {}
			},
			"id": "bf94e126-8d22-4e12-bfc7-081867ae4e29",
			"name": "Get Generation Task",
			"type": "n8n-nodes-base.httpRequest",
			"position": [1472, 240],
			"typeVersion": 4.2
		},
		{
			"parameters": {
				"url": "=https://api.yescale.io/mj/task/{{ $('Upscale').item.json.result }}",
				"sendHeaders": true,
				"headerParameters": {
					"parameters": [
						{
							"name": "Content-Type",
							"value": "application/json"
						},
						{
							"name": "Authorization",
							"value": "Bearer sk-8u2OaO2djHu5tJRaNlUQlDTWXBHjcuIqWfGDEKCCOjmBu7Ik"
						}
					]
				},
				"options": {}
			},
			"id": "b37fb1b0-4227-4ab9-a211-64120706dd54",
			"name": "Get Upscale Task",
			"type": "n8n-nodes-base.httpRequest",
			"position": [2576, 128],
			"typeVersion": 4.2
		},
		{
			"parameters": {
				"content": "### Optional Discord Log\nDelete this Node if you don't want to get Logs in Discord.\n\n**YeScale API Notes**:\n- Response structure may differ from GoAPI\n- Check data paths if image URLs don't work\n\n**Polling Mode Benefits**:\n- ✅ No webhook/HTTPS required\n- ✅ Perfect for local development  \n- ✅ Works on localhost HTTP\n- ✅ No ngrok/tunnel needed\n- ⚠️ Slightly higher latency than webhook",
				"height": 240,
				"width": 360
			},
			"id": "aa413bd6-0468-4497-9b27-2b55bd4ecbf7",
			"name": "Sticky Note1",
			"type": "n8n-nodes-base.stickyNote",
			"position": [2928, -288],
			"typeVersion": 1
		}
	],
	"pinData": {},
	"connections": {
		"Task": {
			"main": [
				[
					{
						"node": "Generate Image",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Wait": {
			"main": [
				[
					{
						"node": "Get Generation Task",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Wait1": {
			"main": [
				[
					{
						"node": "Get Upscale Task",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Upscale": {
			"main": [
				[
					{
						"node": "Notify Upscaling",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Get Prompt": {
			"main": [
				[
					{
						"node": "Task",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Get Upscale": {
			"main": [
				[
					{
						"node": "Main Log",
						"type": "main",
						"index": 0
					},
					{
						"node": "Discord - Generation Log",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Wait1",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Generate Image": {
			"main": [
				[
					{
						"node": "Notify Generation",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Get Upscale Task": {
			"main": [
				[
					{
						"node": "Get Upscale",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Notify Upscaling": {
			"main": [
				[
					{
						"node": "Get Upscale Task",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Telegram Trigger": {
			"main": [
				[
					{
						"node": "Get Prompt",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Notify Generation": {
			"main": [
				[
					{
						"node": "Get Generation Task",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Status = complete": {
			"main": [
				[
					{
						"node": "Get Index to Upscale",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Wait",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Get Generation Task": {
			"main": [
				[
					{
						"node": "Status = complete",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Get Index to Upscale": {
			"main": [
				[
					{
						"node": "Upscale",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"active": false,
	"settings": {},
	"versionId": "f8a554b8-3a29-4881-a08f-7ae7f3b873ce",
	"meta": {
		"templateId": "5097",
		"instanceId": "904053e33a26749ba2fe84fbcb601fa59a817b32d9a0a031d2d64dbbb2cdedfc"
	},
	"id": "CvbwiB43F0JGhkiW",
	"tags": []
}
